# Analiza i Bazy Danych
## Karol Musiał, grupa 3a
### Laboratorium 13
## "Raportowanie"

In [1]:
# Importowanie bibliotek

import ipywidgets as widgets
from ipywidgets import interact, interact_manual
import chart_studio.plotly as py
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display, HTML, Image
import cufflinks as cf
from plotly.offline import iplot, init_notebook_mode
import os
import subprocess

In [2]:
# Pokazywanie danych wejściowych

InteractiveShell.ast_node_interactivity = 'all'

## <b> Wczytanie Danych <b>

In [3]:
# Wczytanie danych

data = pd.read_parquet('https://github.com/WillKoehrsen/Data-Analysis/blob/master/medium/data/medium_data_2019_01_26?raw=true')
data.head()

,claps,days_since_publication,fans,link,num_responses,publication,published_date,read_ratio,read_time,reads,...,type,views,word_count,claps_per_word,editing_days,<tag>Education,<tag>Data Science,<tag>Towards Data Science,<tag>Machine Learning,<tag>Python
129,2,597.301123,2,https://medium.com/p/screw-the-environment-but...,0,None,2017-06-10 14:25:00,42.17,7,70,...,published,166,1859,0.001076,0,0,0,0,0,0
125,18,589.983168,3,https://medium.com/p/the-vanquishing-of-war-pl...,0,None,2017-06-17 22:02:00,30.34,14,54,...,published,178,3891,0.004626,0,0,0,0,0,0
132,51,577.363292,20,https://medium.com/p/capstone-project-mercedes...,0,None,2017-06-30 12:55:00,20.02,42,222,...,published,1109,12025,0.004241,0,0,0,0,1,1
126,0,576.520688,0,https://medium.com/p/home-of-the-scared-5af0fe...,0,None,2017-07-01 09:08:00,35.85,9,19,...,published,53,2533,0.000000,0,0,0,0,0,0
121,0,572.533035,0,https://medium.com/p/the-triumph-of-peace-f485...,0,None,2017-07-05 08:51:00,8.47,14,5,...,published,59,3892,0.000000,1,0,0,0,0,0

In [4]:
# Tworzenie nowego DataFrame

new_data = data[['title', 'tags', 'published_date', 'publication', 'reads', 'views', 'word_count', 'claps', 'fans', 'read_time']]
new_data.head()

,title,tags,published_date,publication,reads,views,word_count,claps,fans,read_time
129,"Screw the Environment, but Consider Your Wallet","[Climate Change, Economics]",2017-06-10 14:25:00,None,70,166,1859,2,2,7
125,"The Vanquishing of War, Plague and Famine","[Climate Change, Humanity, Optimism, History]",2017-06-17 22:02:00,None,54,178,3891,18,3,14
132,Capstone Project: Mercedes-Benz Greener Manufa...,"[Machine Learning, Python, Udacity, Kaggle]",2017-06-30 12:55:00,None,222,1109,12025,51,20,42
126,Home of the Scared,"[Politics, Books, News, Media Criticism]",2017-07-01 09:08:00,None,19,53,2533,0,0,9
121,The Triumph of Peace,"[Books, Psychology, History, Humanism]",2017-07-05 08:51:00,None,5,59,3892,0,0,14

## <b> Wyświetlanie Danych <b>

In [5]:
# Artykuły przeczytane więcej niż 1000 razy

new_data.loc[new_data['views'] > 1000].head()

,title,tags,published_date,publication,reads,views,word_count,claps,fans,read_time
132,Capstone Project: Mercedes-Benz Greener Manufa...,"[Machine Learning, Python, Udacity, Kaggle]",2017-06-30 12:55:00,None,222,1109,12025,51,20,42
131,Deep Neural Network Classifier,"[Machine Learning, Neural Networks, TensorFlow...",2017-07-25 17:54:00,None,1717,9723,1778,73,20,14
122,Object Recognition with Google’s Convolutional...,"[Machine Learning, Neural Networks, Python, Ob...",2017-07-27 21:17:00,None,5690,24079,2345,240,56,12
127,Facial Recognition Using Google’s Convolutiona...,"[Machine Learning, Python, Neural Networks, Fa...",2017-08-07 14:24:00,None,3992,28387,6666,704,76,38
124,Exploratory Data Analysis with R,"[Data Science, R Programming, Data Analysis, U...",2017-08-08 12:58:00,None,509,4174,7559,58,13,43

In [6]:
# Artykuły przeczytane więcej niż 500 razy

new_data.loc[new_data['views'] > 500].head()

,title,tags,published_date,publication,reads,views,word_count,claps,fans,read_time
132,Capstone Project: Mercedes-Benz Greener Manufa...,"[Machine Learning, Python, Udacity, Kaggle]",2017-06-30 12:55:00,None,222,1109,12025,51,20,42
131,Deep Neural Network Classifier,"[Machine Learning, Neural Networks, TensorFlow...",2017-07-25 17:54:00,None,1717,9723,1778,73,20,14
122,Object Recognition with Google’s Convolutional...,"[Machine Learning, Neural Networks, Python, Ob...",2017-07-27 21:17:00,None,5690,24079,2345,240,56,12
127,Facial Recognition Using Google’s Convolutiona...,"[Machine Learning, Python, Neural Networks, Fa...",2017-08-07 14:24:00,None,3992,28387,6666,704,76,38
124,Exploratory Data Analysis with R,"[Data Science, R Programming, Data Analysis, U...",2017-08-08 12:58:00,None,509,4174,7559,58,13,43

In [7]:
# Interaktywna zmiana claps

@interact
def show_articles_more_than(column='claps', x=5000):
    display(HTML(f'<h3>Showing articles with more than {x} {column}<h3>'))
    display(new_data.loc[new_data[column] > x])

interactive(children=(Text(value='claps', description='column'), IntSlider(value=5000, description='x', max=15…

In [8]:
# Interaktywna zmiana dowolnej kolumny

@interact
def show_titles_more_than(column=list(new_data.select_dtypes('number').columns), 
                          x=(1000, 5000, 100)):
    display(HTML(f'<h3>Showing articles with more than {x} {column}<h3>'))
    display(new_data.loc[new_data[column] > x])

interactive(children=(Dropdown(description='column', options=('reads', 'views', 'word_count', 'claps', 'fans',…

## <b> Dataframe Explorer <b>

In [9]:
# Funkcja do znajdowania korelacji między dwoma kolumnami

@interact
def show_correlation(column1=list(new_data.select_dtypes('number')), column2=list(new_data.select_dtypes('number'))):
    display(HTML(f'<h3>Showing correlaction between {column1} and {column2}<h3>'))
    display(new_data[column1].corr(new_data[column2]))

interactive(children=(Dropdown(description='column1', options=('reads', 'views', 'word_count', 'claps', 'fans'…

In [10]:
# Funkcja wywołująca describe dla danej kolumny

@interact
def show_describe(column=list(new_data)):
    display(HTML(f'<h3>Calling describe for {column}<h3>'))
    display(new_data[column].describe())

interactive(children=(Dropdown(description='column', options=('title', 'tags', 'published_date', 'publication'…

## <b> Widgety dla wykresów <b>

In [11]:
# Łączenie pandas i plotly

cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)
init_notebook_mode(connected=True)

In [20]:
# Interaktywne tworzenie wykresów

new_data['binned_read_time'] = pd.cut(new_data['read_time'], bins=range(0, 56, 5))
new_data['binned_read_time'] = new_data['binned_read_time'].astype(str)
new_data['binned_word_count'] = pd.cut(new_data['word_count'], bins=range(0, 100001, 1000))
new_data['binned_word_count'] = new_data['binned_word_count'].astype(str)

@interact_manual
def scatter_plot(x=list(new_data.select_dtypes('number').columns), 
                 y=list(new_data.select_dtypes('number').columns)[1:],
                theme=cf.themes.THEMES.keys(),
                color=cf.colors._scales_names.keys(),
                categories=['binned_read_time', 'binned_word_count', 'publication']):
    new_data.iplot(kind='scatter', x=x, y=y, mode='markers', theme=theme, colorscale=color,
             xTitle=x.title(), yTitle=y.title(), title=f'{y.title()} vs {x.title()}', categories=categories)

interactive(children=(Dropdown(description='x', options=('reads', 'views', 'word_count', 'claps', 'fans', 'rea…

## <b> Własne Widgety <b>

In [13]:
# Zmiana indexu

new_data.set_index('published_date', inplace=True)

In [14]:
# Tworzenie własnej funkcji do wyświetlania statystyk artykułów

def stats_for_article_published_between(start_date, end_date):
    data = new_data.loc[start_date:end_date]
    num_articles = len(data.index)
    total_words = data['word_count'].sum()
    total_read_time = data['read_time'].sum()
    print(f'You published {num_articles} articles between {start_date} and {end_date}.')
    print(f'These articles totalled {total_words:,} words and {total_read_time/60:.2f} hours to read.')
    

_ = interact(stats_for_article_published_between,
             start_date=widgets.DatePicker(value=pd.to_datetime('2018-01-01')),
             end_date=widgets.DatePicker(value=pd.to_datetime('2019-01-01')))

interactive(children=(DatePicker(value=Timestamp('2018-01-01 00:00:00'), description='start_date'), DatePicker…

In [15]:
# Rysowanie wykresu sumy wartości kolumny dla danej daty

def plot_up_to(column, date):
    data = new_data.loc[date.strftime('%Y-%m-%d')]
    cal_sum = data[column].sum()
    print(f'Sum of {column} on {date} is {cal_sum}.')
    data.iplot(kind='bar', y=column, yTitle=column)
    
_ = interact(plot_up_to,
             column=widgets.Dropdown(options = list(new_data.select_dtypes('number'))),
             date=widgets.DatePicker(value=pd.to_datetime('2019-01-02')))

interactive(children=(Dropdown(description='column', options=('reads', 'views', 'word_count', 'claps', 'fans',…

## <b> Przeglądanie zdjęć <b>

In [16]:
# Przeglądanie zdjęć w folderze

@interact
def show_image(im=['autumn', 'spring', 'summer', 'winter']):
    path = 'images/' + im + '.jpg'
    file = open(path, "rb")
    image = file.read()
    display(widgets.Image(value=image, format='png', width=640, height=640))

interactive(children=(Dropdown(description='im', options=('autumn', 'spring', 'summer', 'winter'), value='autu…

## <b> Przeglądanie plików <b>

In [17]:
# Przeglądanie plików w folderach

@interact
def show_folder(directory=[d for d in os.listdir('./') if d[-1] == 's' and d[0] != '.']):
    x = subprocess.check_output(f"cd {'./'}{directory} && dir", shell=True).decode('ISO-8859-1')
    print(x)

interactive(children=(Dropdown(description='directory', options=('cities', 'images'), value='cities'), Output(…

## <b> Zależne Widgety <b>

In [18]:
# Uzależnianie jednego widgetu od drugiego

directory = widgets.Dropdown(options=['images', 'cities'])
images = widgets.Dropdown(options=os.listdir(directory.value))

def update_images(*args):
    images.options = os.listdir(directory.value)

directory.observe(update_images, 'value')

def show_images(fdir, file):
    file = open(fdir + '/' + file, "rb")
    image = file.read()
    display(widgets.Image(value=image, format='png', width=640, height=640))

_ = interact(show_images,
            fdir=directory,
            file=images)

interactive(children=(Dropdown(description='fdir', options=('images', 'cities'), value='images'), Dropdown(des…