# Analiza i Bazy Danych
## Karol Musiał, grupa 3a
### Laboratorium 12
## "Tworzenie Baz Danych"

In [51]:
# Importowanie bibliotek

from sqlalchemy import create_engine, ForeignKey, Column, Integer, String, Date, Float, SmallInteger, Text
from sqlalchemy.ext.declarative import declarative_base

In [52]:
# Łączenie z bazą danych

# Po wykonaniu programu, a przed wysłaniem sprawozdania zmieniono hasło użytkownika na '12345'
db_string = "postgresql://postgres:12345@localhost:5432/lab12_db"

engine = create_engine(db_string)

Base = declarative_base()

#### <b> Po połączeniu się z bazą danych dokonano testów funkcjonalności podanych sposobów tworzenia tabel poprzez stworzenie przykładowych 'authors' i 'books' <b>.

In [53]:
# Tworzenie klas testowych

class Author(Base):
    __tablename__ = 'authors'
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    surname = Column(String(50))
    born_date = Column(Date)

    def __repr__(self):
        return "<authors(id='{0}', name={1}, surname={2}, born_date={3})>".format(
            self.id, self.name, self.surnamey, self.born_date)
    
class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    id_author = Column(Integer, ForeignKey('authors.id'))
    original_title = Column(String, nullable = False)
    publication_date = Column(Integer, nullable = False)
    original_language = Column(String(), nullable = False)
    
Base.metadata.create_all(engine)

In [54]:
# Wypisanie tabel (są puste)

result_set = engine.execute("SELECT * FROM books")  
for r in result_set:  
    print(r)

#### <b> By sprawdzić czy tabele zostały rzeczywiście utworzone wykorzystano narzędzie pgAdmin4, poniżej zamieszczono zrzut ekranu ze strukturą bazy danych. <b>

![title](img/a_b.png)

#### <b> Po wykonaniu przykładu przystąpiono do budowy bazy danych, będącej treścią zadania. <b>

In [55]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(String, nullable = False)

    def __repr__(self):
        return "<users(id='{0}', email={1})>".format(self.id, self.email)


class Host(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))

    def __repr__(self):
        return "<hosts(id='{0}', user_id={1})>".format(self.id, self.user_id)
    
    
class Country(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country_code = Column(String, nullable = False)
    name = Column(String, nullable = False)

    def __repr__(self):
        return "<countries(id='{0}', country_code={1}, name={2})>".format(self.id, self.country_code, self.name)
    
    
class City(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable = False)
    country_id = Column(Integer, ForeignKey('countries.id'))

    def __repr__(self):
        return "<cities(id='{0}', name={1}, country_id={2})>".format(self.id, self.name, self.country_id)
    
    
class Place(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(String, nullable = False)
    city_id = Column(Integer, ForeignKey('cities.id'))

    def __repr__(self):
        return "<places(id='{0}', host_id={1}, adddress={2}, city_id={3})>" \
    .format(self.id, self.host_id, self.address, self.city_id)
    
    
class Booking(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date, nullable = False)
    end_date = Column(Date, nullable = False)
    price_per_night = Column(Float, nullable = False)
    num_nights = Column(Integer, nullable = False)

    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date='{3}', end_date={4}, " + \
    "price_per_night={5}, num_nights={6})>".format(self.id, self.user_id, self.place_id, self.start_date, \
                                                   self.end_date, self.price_per_night, self.num_nights)
    
    
class Review(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(SmallInteger, nullable = False)
    review_body = Column(Text, nullable = False)

    def __repr__(self):
        return "<reviews(id='{0}', booking_id={1}, rating={2}, review_body={3})>" \
    .format(self.id, self.boking_id, self.rating, self.review_body)
    
    
Base.metadata.create_all(engine)

#### <b> Ponownie wykonano zrzuty ekranu obrazujące strukturę tabel. <b>
    
![title](img/tables.png)

![title](img/schema.png)